<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Kronika">
            <directory>tests/Kronika</directory>
        </testsuite>
        <testsuite name="Kronika\Extension">
            <directory>tests/Extension</directory>
        </testsuite>
        <testsuite name="Kronika\Utils">
            <directory>tests/Utils</directory>
        </testsuite>
    </testsuites>
</phpunit>
